html {
  font-size: 62.5%; 
 }
.face {
  min-height: 60vh;
  width: 100vw;
  border: 0.1rem solid blue;
/*   box-shadow: 0 0 0 1px red; */
}
.container-screen {
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  flex-direction: row; 
  flex-wrap: wrap;
  margin-bottom: 5rem;
  /*min-height: 10vh;*/
  /*margin: 0 auto;*/
  background: white;
/*  height: 90%;
  width: 90%;*/
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
 /* background: linear-gradient(red,yellow);*/
}
.container {
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  justify-content: space-between;
  flex-direction: row; 
  flex-wrap: wrap;
  height: 80vh;
  /*margin: 0 auto;*/
  background: white;
/*  height: 90%;
  width: 90%;*/
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  /*background: linear-gradient(red,yellow);*/
}

.button {
  /*display: flex;*/
  padding: 1rem;
  max-height: 5rem;
  /*width: 10rem;*/
  /*flex-basis: 250px;*/
  flex: 0 0 20%;
  border: 0.1rem black solid;
  line-height: 5rem;
  text-align: center;
  font-size: 5rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
  background: blue;
  background: linear-gradient(blue,yellow);
  border-radius: 1rem;
}

/*@media screen and (max-width: 519px) {
    .button {
    flex-basis: 100px; 
  }

}
@media screen and (max-width: 699px) and (min-width: 520px) {
  .button {
    flex-basis: 175px; 
  }
}

@media (min-width: 700px) {
  .button {
    flex-basis: 250px; 
  }
}*/
.screen {
  border: 0.1rem solid black;
  min-height: 5rem;
  flex-basis: 1200px;
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  background: green;
  background: linear-gradient(green,yellow);
  border-radius: 2rem;
}

#digits {
  float: right;
  color: white;
  line-height: 5rem;
  text-align: center;
  font-size: 5rem;
  margin-right: 2rem;
}


.button:hover {
  background: yellow;
  background: linear-gradient(yellow,blue);
}

.button:active {
  background-color:#b3b3b3;
  box-shadow: 0 0.5rem #666;
  transform: translateY(0.4rem);
}