html {
  font-size: 62.5%; 
 }
.face {
  min-height: 60vh;
  width: 40rem;
  border: 0.1rem solid blue;
  background-image: url("./11b9b36e92552a7da1e915a0461aebc7.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
/*   box-shadow: 0 0 0 1px red; */
}

.container-screen {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  margin-bottom: 5rem;
  background: white;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row; 
  flex-wrap: wrap;
  height: 80vh;
 /* border: 5px solid blue;*/
}

.button {
  max-height: 9rem;
  max-width: 9rem;
  position: relative;
  flex: 0 0 50%;
  background-image: url("./smaller-earth.jpg");
  border-radius: 5rem;
/*  border: 5px solid red;*/
}
.earth{
  background-image: url("./earth-small.jpg");
  position: absolute;
  left: 0px;
  top: 0px;
}
.screen {
  border: 0.1rem solid black;
  min-height: 5rem;
  flex-basis: 1200px;
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  background: green;
  background: linear-gradient(green,yellow);
  border-radius: 2rem;
}

#digits {
  float: right;
  color: white;
  line-height: 5rem;
  text-align: center;
  font-size: 5rem;
  margin-right: 2rem;
}
.symbol{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  left: 3.8rem;
  top: 3.2rem;
}

.button:hover {
  background: yellow;
  background: linear-gradient(yellow,blue);
}

.button:active {
  background-color:#b3b3b3;
  box-shadow: 0 0.5rem #666;
  transform: translateY(0.4rem);
}